.RData
.Rhistory
Co-occ_pipeline.output
Env
Results/Plots/Genes_Eigenvector_Degree_Relationship.pdf
Results/Plots/Genes_Eigenvector_Line_Relationship.pdf
Results/Plots/L_1034_concensus_linkage_heatmap.pdf
Results/Plots/L_1034_concensus_support_heatmap.pdf
Results/Plots/L_1034_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_1034_omnibus_X2_support_heatmap.pdf
Results/Plots/L_1192_concensus_linkage_heatmap.pdf
Results/Plots/L_1192_concensus_support_heatmap.pdf
Results/Plots/L_1192_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_1192_omnibus_X2_support_heatmap.pdf
Results/Plots/L_155_concensus_linkage_heatmap.pdf
Results/Plots/L_155_concensus_support_heatmap.pdf
Results/Plots/L_155_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_155_omnibus_X2_support_heatmap.pdf
Results/Plots/L_444_concensus_linkage_heatmap.pdf
Results/Plots/L_444_concensus_support_heatmap.pdf
Results/Plots/L_444_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_444_omnibus_X2_support_heatmap.pdf
Results/Plots/L_502_concensus_linkage_heatmap.pdf
Results/Plots/L_502_concensus_support_heatmap.pdf
Results/Plots/L_502_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_502_omnibus_X2_support_heatmap.pdf
Results/Plots/L_541_concensus_linkage_heatmap.pdf
Results/Plots/L_541_concensus_support_heatmap.pdf
Results/Plots/L_541_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_541_omnibus_X2_support_heatmap.pdf
Results/Plots/L_62_concensus_linkage_heatmap.pdf
Results/Plots/L_62_concensus_support_heatmap.pdf
Results/Plots/L_62_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_62_omnibus_X2_support_heatmap.pdf
Results/Plots/L_664_concensus_linkage_heatmap.pdf
Results/Plots/L_664_concensus_support_heatmap.pdf
Results/Plots/L_664_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_664_omnibus_X2_support_heatmap.pdf
Results/Plots/L_909_concensus_linkage_heatmap.pdf
Results/Plots/L_909_concensus_support_heatmap.pdf
Results/Plots/L_909_omnibus_X2_linkage_heatmap.pdf
Results/Plots/L_909_omnibus_X2_support_heatmap.pdf
Results/Plots/Linear_models_Jaccard_Affinity.pdf
Results/Plots/Linear_models_X2_SR_Affinity.pdf
Results/Plots/Linear_models_X2_SR_Jaccard.pdf
Results/Plots/Networks/Chromosome_legend.pdf
Results/Plots/Networks/Network_L_1034.pdf
Results/Plots/Networks/Network_L_1192.pdf
Results/Plots/Networks/Network_L_155.pdf
Results/Plots/Networks/Network_L_444.pdf
Results/Plots/Networks/Network_L_502.pdf
Results/Plots/Networks/Network_L_541.pdf
Results/Plots/Networks/Network_L_62.pdf
Results/Plots/Networks/Network_L_664.pdf
Results/Plots/Networks/Network_L_909.pdf
Results/Plots/Networks/Network_SUB_L_1034.pdf
Results/Plots/Networks/Network_SUB_L_1192.pdf
Results/Plots/Networks/Network_SUB_L_155.pdf
Results/Plots/Networks/Network_SUB_L_444.pdf
Results/Plots/Networks/Network_SUB_L_502.pdf
Results/Plots/Networks/Network_SUB_L_541.pdf
Results/Plots/Networks/Network_SUB_L_62.pdf
Results/Plots/Networks/Network_SUB_L_664.pdf
Results/Plots/Networks/Network_SUB_L_909.pdf
Results/Plots/Robust_Linear_models_Jaccard_Affinity.pdf
Results/Plots/Robust_Linear_models_X2_SR_Affinity.pdf
Results/Plots/Robust_Linear_models_X2_SR_Jaccard.pdf
Results/Plots/boxplot_9_deflated_model.pdf
Results/Plots/correlation_matrix.pdf
Results/Plots/p_values_9_deflated_model.pdf
Results/Plots/p_values_9_deflated_model_cdf_plot.pdf
Results/Plots/p_values_9_deflated_model_log10.pdf
Results/Plots/p_values_9and8_model.pdf
Results/Plots/p_values_9and8_model_cdf_plot.pdf
Results/Plots/p_values_9and8_model_log10.pdf
Results/Plots/p_values_null_model.pdf
Results/Plots/p_values_null_model_cdf_plot.pdf
Results/Plots/p_values_null_model_log10.pdf
Results/Plots/scatterplot_metrics.pdf
Results/combined_data_Ind_and_Co-occurrence_X2.csv
Results/deviants_summary.txt
Results/final_result_relaxed_all.csv
Results/final_result_relaxed_any.csv
Results/final_result_stringent_all.csv
Results/final_result_stringent_any.csv
Results/glm_results_Ind_and_Co-occurrence.csv
Results/goodness_of_fit_individual_effect.csv
Results/results_x2_df.rds
Results/significant_inv_individual_effect.csv
remote.sh

